* {
  text-align: center;
  box-sizing: border-box;
  align-items: center;
}

/* #the-grid{
  display: none;
} */

.grid {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 5px black;
  width: 660px;
  height: 680px;
  margin-left: 25%;
}

.box {
  border: 2px solid red;
  height: 125px;
  width: 125px;
  margin: 0 6px 0 6px;
  font-size: 30px;
}

.cover {
  position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1;
   height: 125px;
   width: 125px;
   margin: 0 6px 0 6px;
   background-color: black;
}

.green {
  background-color: #2fd615;
  color: #2fd615;
}
.blue {
  background-color: #0066ed;
  color: #0066ed;
}
.yellow {
  background-color: #ffb200;
  color: #ffb200;
}
.red {
  background-color: #ff1414;
  color: #ff1414;
}
.orange {
  background-color: #e27a1f;
  color: #e27a1f;
}
.pink {
  background-color: #f6aeaa;
  color: #f6aeaa;
}
.brown {
  background-color: #591d0b;
  color: #591d0b;
}
.purple {
  background-color: #df42f4;
  color: #df42f4;
}
.white {
  color: white;
  background-color: white;
}

.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
